VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxaHZsa3Vua2RyeHl1dnppb3JtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5ODk0MDcsImV4cCI6MjEwMjU2NTQwN30.l6huUwgFrbdLl4XpbJm87ibp827VrINWoXyMseomaU4
VITE_SUPABASE_URL=https://hqhvlkunkdrxyuvziorm.supabase.co
VITE_SITE_URL=https://freluxpaintcalc.com
